<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] [%X{akkaSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <!--<encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>-->

        <encoder>
            <pattern>%logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="org.apache.kafka" level="error"></logger>
    <logger name="com.datastax.oss" level="error"></logger>
    <logger name="org.apache.pulsar.client.api" level="error"></logger>

    <!--<root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>-->

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>

